SESSION_SECRET="foobar"
PUBLIC_STOREFRONT_API_TOKEN=
PRIVATE_STOREFRONT_API_TOKEN=
PUBLIC_STORE_DOMAIN=
PUBLIC_CHECKOUT_DOMAIN=
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=
PUBLIC_CUSTOMER_ACCOUNT_API_URL=

PRIVATE_ADMIN_ACCESS_TOKEN=
PRIVATE_ADMIN_API_KEY=
PRIVATE_ADMIN_API_SECRET_KEY=
PRIVATE_ADMIN_API_VERSION=

SHOP_ID=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
